[v3_ca]
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
#keyUsage = digitalSignature, keyEncipherment
#subjectAltName = IP:127.0.0.1, IP:192.168.73.120, IP:192.168.73.121
